@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: white;
    font-family: "Noto Sans JP", sans-serif;;
}

.anim {
    animation: inputSlowAppearance .4s;
}

@keyframes inputSlowAppearance {
    0% {
        width: 500px;
        height: 30px;
    } 100% {
        width: 600px;
        height: 40px;
    }
}